{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <div>
        <p>
            Account Information:
        </p>
        <table class="tg">
            <thead>
              <tr>
                <th class="tg-0pky">User</th>
                <th class="tg-0pky">Username</th>
                <th class="tg-0lax">Password</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-0pky">Admin</td>
                <td class="tg-0pky">admin</td>
                <td class="tg-0lax">admin12345</td>
              </tr>
              <tr>
                <td class="tg-0pky">Employee</td>
                <td class="tg-0pky">employee</td>
                <td class="tg-0lax">employee123</td>
              </tr>
              <tr>
                <td class="tg-0pky">Customer</td>
                <td class="tg-0pky">customer</td>
                <td class="tg-0lax">customer123</td>
              </tr>
            </tbody>
            </table>
        <br>
        </p>
    </div>
{% endblock %}