{% extends "base.html" %}
{% block title %}Search Rooms{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1>Search</h1>
    <h3>Leave parameters blank to specify less.</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.rid.label }}<br>
            {{ form.rid(size=32) }}<br>
            {% for error in form.rid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.room_view.label }}<br>
            {{ form.room_view(size=32) }}<br>
            {% for error in form.room_view.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.n_occupants.label }}<br>
            {{ form.n_occupants(size=32) }}<br>
            {% for error in form.n_occupants.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amenities.label }}<br>
            {{ form.amenities(size=32) }}<br>
            {% for error in form.amenities.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}