{% extends "base.html" %}
{% block title %}Search Rooms{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1>Search</h1>
    <h3>Leave parameters blank to specify less.</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.room_type.label }}<br>
            {{ form.room_type(size=32) }}<br>
            {% for error in form.room_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.n_occupants.label }}<br>
            {{ form.n_occupants(size=64) }}<br>
            {% for error in form.n_occupants.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hotel_chain.label }}<br>
            {{ form.hotel_chain(size=32) }}<br>
            {% for error in form.hotel_chain.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.n_stars.label }}<br>
            {{ form.n_stars(size=32) }}<br>
            {% for error in form.n_stars.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_date.label }}
            {{ form.start_date }}
          </p>
          <p>
         {{ form.end_date.label }}
            {{ form.end_date }}
          </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}