{% extends "base.html" %}
{% block title %}View All Employees{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{%block content%}
    <h1>View Employees</h1>
    <br>
    <br>
    <table class="table">
      <tr>
        <th>Hotel ID</th>
        <th>Salary</th>
        <th>ID</th>
        <th>Address</th>
        <th>Role</th>
      </tr>
    {% for item in data %}
        <tr>
          {% for d in item %}
          <td>{{d}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endblock %}