{% extends "base.html" %}
{% block title %}View Hotels{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{%block content%}
    <h1>View Hotels</h1>
    <br>
    <br>
    <table class="table">
        <tr>
          <th>Hotel ID</th>
          <th>Brand Name</th>
          <th>Star Category</th>
          <th>Phone Numbers</th>
          <th>Email</th>
          <th>Address</th>
        </tr>
      {% for item in data %}
          <tr>
            {% for d in item %}
            <td>{{d}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
  {% endblock %}